<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="team.redrock.stickerset.main">

    <application
        android:name=".StickerSetApp">
        <activity
            android:name="team.redrock.stickerset.main.screen.main.MainActivity"
            tools:theme="@style/Theme.Material3.Light"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>